.DS_Store
roles/*
!roles/requirements.yaml
.vagrant/
.ext_roles
roles
vault_pass.sh
config.yaml

# virtualenv
venv/
tmp.yml
*.log
*.retry
*.out
.ansible/
# IDE
.idea/*

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Translations
*.mo
*.pot

# vagrant module
.manala/vg-facade

vault_pass.sh

