.DS_Store
debian/*.box
debian/packer_cache/*
debian/output-virtualbox-iso/*
debian/last_releases
debian/old_releases
debian/oldstable-test
debian/stable-test
debian/SHA256SUMS
debian/SHA256SUMS.gpg
helpers/token.gpg
.project
.settings
.tern-project
.vagrant
*.qcow2
*.img
*.log